server:
  port: 8084

spring:
  application:
    name: pay

  mvc:
    dispatch-options-request: true

  datasource:
    url: jdbc:h2:mem:paymentdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
      cache:
        use_second_level_cache: false

  sql:
    init:
      mode: always
      platform: h2
    h2:
      console:
        enabled: true
        path: /h2-console
        settings:
          trace: false
          web-allow-others: false

  kafka:
    bootstrap-servers: localhost:9092
    properties:
      spring.json.trusted.packages: "*"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

app:
  jwtSecret: ${JWT_SECRET:secretKey}
  jwtExpirationMs: 86400000

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.danilodps.pay: DEBUG
    org.springframework.security: DEBUG